* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f8a5a5, #ec6f66);
}

.container {
    background: white;
    padding: 40px 30px;
    border-radius: 20px;
    width: 90%;
    max-width: 380px;
    text-align: center;
}

.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    padding: 12px 45px 12px 45px;
    border: none;
    background: #f3f3f3;
    border-radius: 30px;
    outline: none;
}

.icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
}

.toggle-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.options {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    background: #f2a154;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

.signup {
    margin-top: 15px;
    font-size: 14px;
}
