* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(120deg, #ff9a3c, #ff5f6d, #ffc371);
  background-size: 300% 300%;
  animation: gradientBG 6s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  background: #ffffff4f;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 350px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  outline: none;
  width: 100%;
  padding: 10px 40px 10px 40px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff44;
}

.input-box .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.input-box .toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}


.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.options a {
  text-decoration: none;
  color: #ff5f6d;
}

button {
  width: 100%;
  padding: 10px;
  background: #ff5f6d;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #ff3b4f;
}

.signup {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.signup a {
  text-decoration: none;
  color: #ff5f6d;
}
.custom-checkbox input {
  display: none;
}
.custom-checkbox span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #ff5f6d;
  vertical-align: middle;
  margin-right: 8px;
  transition: background 0.2s ease-in-out;
  position: relative;
  border-radius: 4px;
}
.custom-checkbox input:checked + span {
  background: #ff5f6d;
}
.custom-checkbox input:hover + span {
  cursor: pointer;
}
.custom-checkbox input:checked + span::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 6px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}
