body {
    font-family: oswald;
    background-color: #f1e6c7;
    margin: 0;
    padding: 0;
}
header {
    background: linear-gradient(10deg, #ff7b00, #f7971e, #ff7d20);
    color: white;
    padding: 10px 0;
    text-align-last: center;
}
h1 {
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}
h2 {
     text-transform: capitalize;;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.entrar {
    position: absolute;
    color: #ffffff;
    text-align: center;
    background: linear-gradient(45deg, #ff7b00, #f7971e, #ffd200);
    width: 320px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);



    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 10px; 
    
}       
.entrar input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 50px;
    width: 80%;
    border: none;
    outline: none;
}
.entrar input:focus {
    box-shadow: 0 0 10px #be8200;
    transition: 0.3s;
}

.entrar button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 50px;
    border: none;
    outline: none;
}
.entrar button:hover {
        color: #ffa600;
        box-shadow: 0 0 5px #000000;
        background-color: #f8d28c;
        transform: scale(1.05);
        transition: all 0.5s ease;
        cursor: pointer;
    }
.mostrar{
    width: 20px;
    height: 20px;
    object-fit: cover; 
}

